.container-fluid.user-form
  = simple_form_for @user, url: @user do |f|
    = f.error_notification

    .row.form-row
      .form-inputs
        = f.input :name, placeholder: "Mary and the Funky Bunch"
        = f.input :email, placeholder: "mary@aol.com"
        = f.input :password, placeholder: "supersecretpassword"
        = f.input :password_confirmation, placeholder: "supersecretpassword"
        = f.label :role, :label => "Create a Band or Fan account: "
        = f.collection_select :role, User::ROLES, :to_s, :humanize
      .form-actions
        = f.button :submit, class: 'btn btn-large btn-primary'
