.container-fluid.user-edit
  .row
    %h1= @user.name
  .row
    .col-md-3
    .col-md-6
      .container-fluid.user-form
        = simple_form_for @user, url: @user do |f|
          = f.error_notification
          .row.form-row
            .form-inputs
              = f.input :name
              = f.input :email
              = f.label :role, :label => "Create a Band or Fan account? "
              = f.collection_select :role, User::ROLES, :to_s, :humanize

            .form-actions
              = f.button :submit, class: 'btn btn-large btn-primary'
    .col-md-3
  .row
    = link_to 'Show', @user
    \|
    = link_to 'Back', users_path
