.container-fluid.user-show
  %p#notice= notice
  .row.user-title
    %h1= @user.name
    %p
      %b Contact via Email:
      = @user.email
    - if @user == current_user && @user.role == 'band'
      .row
        %h3= link_to "Add a new show", new_gig_path
    .row
      - if @user == current_user
        = link_to 'Edit', edit_user_path(@user)
        |
      = link_to 'All Bands', users_path
      |
      = link_to 'All Shows', gigs_path

  - if !logged_in?
    %h2 log in to see information

  - if current_user && @user.role == 'band'
    .row
      - if @gigs.empty? && current_user == @user
        %h2 Add a show
      - elsif @gigs.empty? && current_user != @user
        %h2= "#{@user.name} has not added any shows yet."
      - else
        %h2 my shows
    .row
      .col-md-2
      .col-md-8
        - @gigs.each do |gig|
          .each-gig
            .col-md-10
              .col-md-4
                .row
                  %img(src="#{gig.image}")
              .col-md-8.gig-text
                %h2= gig.name
                %p= gig.date.to_s(:long)
            .col-md-2
              = link_to "Find out more", gig, class: 'btn btn-primary'
      .col-md-2

  - if current_user && @user.role == 'fan'
    .row
      - if @user.comments.empty?
        %h2 no comments yet
      - else
        %h2 my comments
    .row
      .col-md-2
      .col-md-8
        - @user.comments.each do |comment|
          .row.each-comment
            .col-md-4
              %img(src="#{comment.gig.image}")
            .col-md-8
              .row.comment-gig-name
                %h3= comment.gig.name
              .row
                %span.timestamp= "#{time_ago_in_words(comment.created_at)} ago you said:"
              .row
                %h4= comment.body
              - if @user == current_user
                .row
                  = link_to "Delete this comment", comment, :method => :delete, :data => { :confirm => "Are you sure?"}
