.container-fluid.user-show
  %p#notice= notice
  .row
    .col-md-2
    .col-md-8.user-title
      .row
        %h1= @user.name
        %p
          %b Contact via Email:
          = @user.email
      .row
        %h3= link_to "Add a new show", new_gig_path
      .row
        %h2= link_to "Our shows", user_gigs_path(@user)



    .col-md-2
  .row
    = link_to 'Edit', edit_user_path(@user)
    \|
    = link_to 'Back to All Bands', users_path
