.container-fluid.user-show
  %p#notice= notice
  .row.fan-title
    %h1= @fan.name
    %p
      %b Email:
      = @fan.email
  .row
    - if @fan == current_user
      = link_to 'Edit', edit_fan_path(@fan)
    = link_to 'Check out Bands', users_path
    = link_to 'Check out Shows', gigs_path
