.container-fluid.gig-edit
  .row.edit-title
    %h1= "Editing #{@gig.name}"
  .row
    .col-md-3
    .col-md-6
      = render 'form'
    .col-md-3
  .row
    = link_to 'Show', @gig
    \|
    = link_to 'Back', gigs_path
