.containr-fluid.gigs-index
  %h1 Listing gigs

  .gigs-all.container-fluid

    - @gigs.each do |gig|
      .gigs-each
        %img(src="#{gig.image}")
        .gigs-text
          %h2= gig.user.name
          %h2= gig.name
          %h3= gig.location
          %h3= gig.date.to_s(:long)
          %h4= gig.description
          = link_to 'Show', gig

  .containr-fluid
    = link_to 'New Gig', new_gig_path
