.container-fluid.gigs-index
  .gigs-index-title
    .gigs-title-text
      %h1 All the Gigs

  .gigs-index-filters
    .row
      .col-md-4
        =link_to "Past Shows", past_gigs_path, class: 'btn btn-warning'
      .col-md-4
        =link_to "Today's Shows", today_gigs_path, class: 'btn btn-info'
      .col-md-4
        =link_to "Upcoming Shows", upcoming_gigs_path, class: 'btn btn-success'

  .container-fluid.gigs-all
    .row
      .col-md-1
      .col-lg-10
        - @gigs.each do |gig|
          .col-md-4
            .gigs-each
              .gigs-each-header
                %h3= gig.date.to_s(:long)
              .row
                %h2= gig.name
              .gigs-image
                .row
                  .col-md-6
                    %img(src="#{gig.image}")
                  .col-md-6
                    %h3= gig.location

              .gigs-text
                %h2= gig.user.name
              .row
                = link_to "Find out more", gig,  class: 'btn btn-info gigs-each-btn'

      .col-md-1
