.container-fluid.gig-show
  %p#notice= notice

  .row
    .col-md-3
    .col-md-6.gig-info
      .row
        %img(src="#{@gig.image}")

        %h1= @gig.name
        = link_to 'Edit this Gig', edit_gig_path(@gig)

        %h2
          %b Location:
          = @gig.location
        %h2
          %b
          = @gig.date
        %h3
          %b
          = @gig.description
    .col-md-3
  .row
    = link_to 'View All My Gigs', gigs_path
