.container-fluid.gig-show
  %p#notice= notice

  .row.gig-title
    %h1= "#{@gig.user.name} presents: #{@gig.name}"
    - if logged_in?
      = link_to 'Edit this Gig', edit_gig_path(@gig)
      = link_to 'Delete this Gig', gig_path, method: :delete
  .row.gig-info
    .col-md-4
      %img(src="#{@gig.image}")
    .col-md-8
      .row
        %h2= @gig.location
        %h2= @gig.date.to_s(:long)
      .row
        %br
        %h3= @gig.description
  .row
    = link_to 'View All Gigs', gigs_path
