.container-fluid.gig-show
  %p#notice= notice

  .row.gig-title
    %h1= "#{@gig.user.name} presents: #{@gig.name}"
    - if @gig.user == current_user
      = link_to 'Edit this Gig', edit_gig_path(@gig)
      = link_to 'Delete this Gig', gig_path, method: :delete, data: {confirm: "Are you sure?"}
  .row.gig-info
    .col-md-4
      %img(src="#{@gig.image}")
    .col-md-8
      .row
        %h2= @gig.location
        %h2= @gig.date.to_s(:long)
      .row
        %br
        %h3= @gig.description
  .row
    = simple_form_for [@gig, Comment.new] do |f|
      = f.input :body
      = f.button :submit, "Publish Comment"
  .row
    = link_to 'View All Gigs', gigs_path
    |
    = link_to 'More about this band', user_path(@gig.user)
