.container-fluid.user-session-new
  = simple_form_for @user, url: user_session_path do |f|
    = f.error_notification

    .form-inputs
      = f.input :email
      = f.input :password

    .form-actions
      = f.submit "Sign In" , class: 'btn btn-large btn-primary'
